extends layout.pug


block content
  .page-title.border-bottom.py-4
    div.container
      h1 About

  section.content
    .container
      .row
        .col-md-5
          img(src="../images/stem.jpg", alt="")
        .col-md-7
          h3.mb-4.text-primary Lorem ipsum dolor sit amet consectetur.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe veritatis id eius autem, animi quia at laudantium temporibus. Illo, pariatur aspernatur alias at repellendus quas expedita nisi. Animi quia beatae dignissimos, rerum placeat sequi impedit magnam repudiandae consectetur dolores aut. Nemo molestias reiciendis, ullam non nulla adipisci explicabo maxime ratione unde esse delectus omnis quaerat minima facilis et quas quis?

    