- const siteTitle = 'STEM Pathway'

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    link( rel="stylesheet"  href="/css/bootstrap.min.css")
    link( rel="stylesheet"  href="/fontawesome/css/all.min.css")
    link( rel="stylesheet"  href="/css/style.css")
    title= siteTitle
  body
    div(class='app')
      include inc/navbar.pug
      main
        block content
      include inc/footer.pug
  script(src="../js/script.js")