extends layout.pug


block content
  .page-title.border-bottom.py-4
    div.container
      h1 Privacy Policy

  section.content
    .container
      p stempathway.com Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, deserunt fugit odit modi labore natus atque dicta tempore earum eligendi ratione repellendus, aut neque. Odit quibusdam vel aperiam adipisci accusamus.

      h3.mb-4 What Data We Collect
      p <strong>General Data:</strong> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, consequuntur quis sunt nemo qui repellendus eaque ad? Doloremque reprehenderit dolorum eaque earum quaerat odio aliquid, perferendis aspernatur aliquam ad voluptates corporis eos tempora aperiam error? Debitis quibusdam officiis maiores neque quasi odit corporis iste ab eligendi quas ad animi recusandae, doloremque saepe eos optio illum esse ullam veritatis ducimus obcaecati.
      p <strong>Log Files:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos hic cum quos officia sint, neque similique sunt eligendi, adipisci enim itaque ipsa commodi voluptatibus? Quo eum deleniti nostrum quisquam libero magni distinctio ea impedit! Saepe quasi omnis ipsam unde illo!
      p <strong>Cookies:</strong>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates eligendi maiores perferendis aperiam velit ea culpa harum tempora aut a! Doloribus odio sit necessitatibus cum voluptatum cupiditate sequi ut, itaque ipsum, cumque sint veniam. Sapiente explicabo asperiores dignissimos accusamus quaerat ducimus modi qui eaque ratione autem vitae delectus sunt beatae illum labore accusantium voluptate aut fuga, consectetur impedit! Cupiditate tempora enim vero sed alias quo consectetur placeat omnis culpa maiores inventore, ipsum at nihil ab similique ut! Incidunt, laudantium officia.