extends layout.pug


block content
  .page-title.border-bottom.py-4
    div.container
      h1 Terms of Use

  section.content
    .container
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae risus justo. Cras ac turpis eget justo facilisis rhoncus id id neque. Vestibulum a quam ac ligula viverra sollicitudin. Aenean quis posuere nibh, id vulputate leo. Cras sed urna egestas mauris maximus commodo id et metus. Phasellus et diam quis arcu maximus vulputate quis non velit. Vivamus velit tortor, pulvinar non dapibus ac, bibendum pulvinar mauris. Phasellus volutpat consectetur elit eget ullamcorper. Sed euismod tincidunt urna, sed mattis libero consectetur eget. Mauris eleifend turpis sit amet ante fermentum tristique eu quis mi. Duis nec arcu mauris. Etiam viverra orci a ante imperdiet, eget aliquam risus accumsan. Fusce mollis erat elit, eu dignissim massa facilisis a. Integer enim urna, maximus non venenatis et, tempus nec lectus. Maecenas faucibus ipsum nec ante laoreet tristique.

      p Vestibulum gravida ex vitae lacinia mollis. Sed a vulputate velit, vitae iaculis nulla. Vestibulum quis sapien sed ante ornare aliquet. Nunc a placerat dui. Curabitur ac neque vitae mauris bibendum viverra. Proin maximus facilisis vestibulum. Ut ullamcorper, risus quis scelerisque pretium, risus diam elementum tellus, non sollicitudin nisi nisl sed ipsum. Sed maximus congue orci eu ultricies. Donec elementum lorem eros, non placerat augue semper eget. Aenean maximus varius metus, id imperdiet elit bibendum maximus. Mauris semper leo nec est dignissim pellentesque. Nunc lobortis velit ac quam aliquam, a viverra ante suscipit.

      p Phasellus tincidunt pulvinar diam, at egestas diam aliquet id. Aenean sollicitudin quis arcu eget eleifend. Duis id consectetur ante. Duis gravida erat eu nunc scelerisque, in fringilla est blandit. Cras quis justo lorem. Phasellus erat elit, dignissim et lacinia quis, laoreet eget lorem. Integer volutpat placerat arcu, ut pulvinar ante. Integer accumsan turpis eget purus pellentesque tristique. Sed non suscipit lorem. Curabitur ut risus ligula. Phasellus mollis ipsum nec nisi lacinia, ut lacinia ante tincidunt. Proin imperdiet, sapien pretium dapibus pellentesque, elit turpis iaculis nibh, vitae ultricies nulla metus eu est. Donec malesuada pulvinar mauris, id mattis metus viverra non.

      p Nam ultricies imperdiet luctus. Quisque eget pulvinar nisi. Donec aliquet accumsan sapien, ac pretium risus ultricies vitae. Cras sit amet interdum ex. Curabitur volutpat nunc eu nulla eleifend euismod. Donec at nisi quis urna finibus eleifend. Sed lorem purus, tristique a interdum at, suscipit quis orci. Vestibulum non mattis leo. Nullam euismod dignissim facilisis. Sed id eros rhoncus, semper urna ac, posuere erat. Integer et laoreet leo. Phasellus ut finibus ex. In sed facilisis velit. Donec vitae magna at lacus suscipit rhoncus. Pellentesque viverra libero vitae augue iaculis viverra.

      p Etiam urna lacus, dapibus at vulputate vitae, pellentesque eu purus. Nullam euismod ante eget faucibus rutrum. Nunc imperdiet tempus dui vel convallis. Aliquam sollicitudin dignissim volutpat. Nam egestas consequat felis, a pellentesque mi suscipit a. Suspendisse venenatis lectus a lacinia congue. Maecenas lobortis turpis odio, eu tempor orci dignissim sit amet. Nunc efficitur leo ultricies erat egestas, ac luctus urna luctus. Duis efficitur imperdiet dignissim. 